<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%- title %> - OJT</title>
    <!-- js -->
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/sweetalert.min.js"></script>
    <!-- css -->
    <link rel="stylesheet" href="/static/css/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/shadow.css">
    <link rel="stylesheet" href="/static/css/menu.css">
    <link rel="stylesheet" href="/static/css/error.css">
    <link rel="stylesheet" href="/static/css/stage.css">
    <link rel="stylesheet" href="/static/css/keyboard.css">
</head>
<body>
    <div class="container">