<%- include('header.ejs', { title: '404' }); %>
    <div class="bigTitle">
        <h1 class="textShadow">这是哪里？</h1>
        <p class="textShadow">你似乎到达了无人区。</p>
    </div>
    <div class="mainBody">
        <div class="errorContainer">
            <i class="fa fa-question errorIcon textShadow"></i>
            <p class="textShadow errorMessage">404 Not Found</p>
        </div>
    </div>
    <%- include('footer.ejs'); %>